<!-- ========================
youtube-embed.html
========================= -->

<div class="video-container">
  @if (isConsentGiven()) {
    <iframe
      [src]="embedUrl()"
      [title]="t().video.playerTitle"
      frameborder="0"
      allow="
        accelerometer;
        autoplay;
        clipboard-write;
        encrypted-media;
        gyroscope;
        picture-in-picture;
        web-share;
      "
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    >
    </iframe>
  } @else {
    <div class="video-placeholder">
      <div class="placeholder-content">
        <div class="consent-card">
          <p class="privacy-note">
            {{ t().video.consentNote }}
            <a href="#" class="blue-text-link" (click)="openPrivacyPolicy($event)">{{
              t().video.privacyLink
            }}</a
            >.
          </p>

          <button type="button" (click)="grantConsent()" class="primary-btn">
            {{ t().video.play }}
          </button>
        </div>
      </div>
    </div>
  }
</div>
