<!-- ========================
footer.html
========================= -->

<footer class="site-footer">
    <div class="container footer-content">
        <span class="grey-text">© {{ currentYear }} CMW
            Media</span>
        <div class="legal-links">
            <button type="button"
                class="grey-text header-footer-link"
                (click)="openLegal.emit('imprint')">
                Impressum
            </button>
            <button type="button"
                class="grey-text header-footer-link"
                (click)="openLegal.emit('privacy-policy')">
                Datenschutzerklärung
            </button>
        </div>
    </div>
</footer>