/* =========================
footer.scss
========================= */

@use 'abstracts' as *;

:host {
  display: block;
  width: 100%;
}

.site-footer {
  width: 100%;
  background-color: $general-background-color;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  padding: 32px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include sd {
    flex-direction: row;
    justify-content: space-between;
  }
}

.legal-links {
  display: flex;
  gap: 8px;

  @include sd {
    gap: 16px;
  }
}