/* =========================
about-me.scss
========================= */

@use 'abstracts' as *;

:host {
  display: block;
  width: 100%;
  padding: var(--general-vertical-padding) 0;
  border-bottom: $border-style;
  @include section-glow(50% 50%, 800px, 1200px, 0.15);
}

.about-me-section {
  width: 100%;
}