<!-- ========================
technologies.html
========================= -->

<ul class="tech-list" role="list" aria-label="Eingesetzte Software und Plattformen">
  @for (item of items; track item.name) {
    <li class="tech-item light-grey-text">
      <span class="tech-icon" aria-hidden="true">
        @if (item.monogram) {
          <span class="monogram">{{ item.monogram }}</span>
        } @else {
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path [attr.d]="item.path" />
          </svg>
        }
      </span>
      <span class="tech-name">{{ item.name }}</span>
    </li>
  }
</ul>
