/* =========================
hero.scss
========================= */

@use 'abstracts' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  box-sizing: border-box;
  border-bottom: $border-style;
  padding-top: calc(65px + var(--general-vertical-padding));
  padding-bottom: var(--general-vertical-padding);
  @include section-glow(50% 0%, 1200px, 1800px, 0.15);
}

.hero-section {
  width: 100%;
}

h1 {
  margin-bottom: 32px;

  @include md {
    margin-bottom: 64px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  gap: $general-spacing;

  @include md {
    grid-template-columns: repeat(12, 1fr);

    .col-video {
      grid-column: span 6;
    }

    .col-contact {
      grid-column: span 6;
    }
  }
}

.col-video {
  display: flex;
  flex-direction: column;
  gap: $general-spacing;

  @include md {
    app-testimonial {
      display: flex;
      flex: 1;
    }
  }
}

.col-contact {
  display: flex;

  app-contact-form {
    flex-grow: 1;
    display: flex;
  }
}