/* =========================
hero.scss
========================= */

@use 'abstracts' as *;

:host {
  display: block;
  width: 100%;
}

.hero-section {
  width: 100%;
  background:
    radial-gradient(800px circle at 50% 0%,
      rgba(79, 128, 255, 0.15) 0%,
      transparent 70%),
    #0d111a;
  padding-top: calc(65px + $general-spacing);
  padding-bottom: $general-spacing;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  gap: $general-spacing;

  @include md {
    grid-template-columns: repeat(12, 1fr);

    .col-main {
      grid-column: span 6;
    }

    .col-side {
      grid-column: span 6;
    }
  }
}

.col-main {
  display: flex;
  flex-direction: column;
  gap: $general-spacing;
}

.col-side {
  display: flex;

  app-contact-form {
    flex-grow: 1;
    display: flex;
  }
}