/* =========================
_abstracts.scss
========================= */

$bp-sd: 600px;
$bp-md: 768px;
$bp-ld: 1024px;

@mixin sd {
  @media (min-width: $bp-sd) {
    @content;
  }
}

@mixin md {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin ld {
  @media (min-width: $bp-ld) {
    @content;
  }
}

$md-easing-standard: cubic-bezier(0.2, 0, 0, 1);
$radius-card: 12px;
$radius-elem: 8px;
$general-spacing: 24px;
$border-style: 1px solid oklch(100% 0 0 / .12);

:root {
  --general-vertical-padding: 40px;

  @media (min-width: #{$bp-md}) {
    --general-vertical-padding: 60px;
  }
}

@mixin card-shadow {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

@mixin card-surface {
  background-color: #0f141d;
  border: 1px solid #1a2230;
  padding: 16px 12px;
  border-radius: $radius-card;

  @include md {
    padding: 40px;
  }
}