<!-- ========================
imprint.html
========================= -->

<div class="legal-content">
    <h1>Impressum</h1>

    <p>Vorname Nachname<br />
        Stra&szlig;e<br />
        Postleitzahl Ort</p>

    <h2>Kontakt</h2>
    <p>E-Mail: E-Mail-Adresse</p>

    <h2>Umsatzsteuer-ID</h2>
    <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig;
        &sect; 27 a Umsatzsteuergesetz:<br />
        DE999999999</p>

    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
    </h2>
    <p>Wir sind nicht bereit oder verpflichtet, an
        Streitbeilegungsverfahren vor einer
        Verbraucherschlichtungsstelle teilzunehmen.</p>

    <p>Quelle: <a class="blue-text-link"
            href="https://www.e-recht24.de">eRecht24</a></p>
</div>