/* =========================
contact.scss
========================= */

@use 'abstracts' as *;

:host {
  display: block;
  width: 100%;
}

.contact-section {
  width: 100%;
  padding: $general-vertical-padding 0;
}